/* tables */
table.tablesorter {
margin-top: 35px;	
    font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 11pt;
	width: 100%;
	text-align: center;
        
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #A1D5D5;
	border: 1px solid #FFF;
	font-family: Open Sans Bold;
font-size: 16px;

	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
        padding : 15px;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #EEE;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
