/* Main Stylesheet */
html, body {
    font-family: 'Titillium Web', sans-serif;
}
a {
    font-family: 'Titillium Web', sans-serif;
}
.padding-0 {
    padding: 0;
}
.top-header {
    width: 100%;
    position: relative;
    background: #dc1b3a;
    padding: 15px 0;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50px;
    padding: 10px;
}
.form-control {
    height: auto;
}
#custom-search-input button {
    border: 0;
    background: none;
    color: #fff;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -40px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: #000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.search-query:focus + button {
    z-index: 3;
}
.main-nav {
    padding: 0;
    border: none;
}
.main-nav .nav-black {
    background-color: #262626;
}
.main-nav .nav-red {
    background-color: #dc1b3a;
}
.navbar {
    margin-bottom: 0;
}
.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
}
.nav>li {
    position: inherit;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.menu-position {
    position: relative;
}
.navbar-default .navbar-nav>li:hover .dropdown-menu{
    display: block;
}
.nav-black>.menu-position>.navbar-nav>li>a:focus, .nav-black>.menu-position>.navbar-nav>li>a:hover {
    color: #fff;
    background-color: #202020;
}
.nav-red>.menu-position>.navbar-nav>li>a:focus, .nav-red>.menu-position>.navbar-nav>li>a:hover {
    color: #fff;
    background-color: #bb1731;
}
.dropdown-menu {
    background-color: rgba(38, 38, 38, .9);
    -moz-columns: 3;
    columns: 3;
    padding: 15px 35px 25px;
    left: 0px;
    right: 0px;
}
.dropdown-menu li {
    border-left: solid 2px #d11c39;
}
.dropdown-menu li a {
    line-height: 26px;
    color: #fff !important;
}
.dropdown-menu li a:hover {
    color: #fff !important;
    background-color: #000;
}
section {
    float: left;
    padding: 55px 0;
    width: 100%;
}
.section-title {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
}
.white .section-title {
    color: #000;
}
.owl-carousel {
    margin-top: 35px;
    margin-bottom: 35px;
}
.font-red {
    color: #dc1b3a;
}
.red {
    background: #dc1b3a;
}
.black {
    background: #262626;
}
a.view-more {
    padding: 12px;
    line-height: 16px;
    color: #fff;
    margin: 0 auto;
    width: 560px;
    position: relative;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.panel {
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.product_tabs {
    padding: 0;
    margin: 0 0 -15px 0;
}
ul.product_tabs li {
    border-bottom: 3px solid #dc1b3a;
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 15px;
}
ul.product_tabs li.active {
    border-bottom: 3px solid #fff;
}
ul.product_tabs li a {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}
ul.product_tabs li a:hover, ul.product_tabs li a:focus {
    text-decoration: none;
}
/* Slider Style */

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 600px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}

.carousel-control.left span {
    margin: 0 !important;
    line-height: 100px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 40px;
    height: 100px;
}
.carousel-control.right span {
    margin: 0 !important;
    line-height: 100px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    position: absolute;
    top: 35%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
    background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}
.slider-box {
    margin: auto;
    width: 425px;
    background: rgba(0, 0, 0, 0.3);
    border: solid;
    text-align: center;
    padding: 35px;
    box-shadow: 0px 0px 50px #fff;
    -moz-box-shadow: 0px 0px 50px #fff;
    -o-box-shadow: 0px 0px 50px #fff;
}
.header-text h1 {
    font-size: 56px;
    font-weight: 800;
    text-transform: uppercase;
}

.header-text h2 span {
    padding: 10px;
}

.header-text h3 span {
    font-size: 28px;
    text-transform: uppercase;
    padding: 15px;
}

.btn-theme {
    color: #000;
    background-color: #fff;
    border: 2px solid #fff;
    margin-right: 15px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0 !important;
    padding: 15px 35px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

/* Product Carousel CSS */
.owl-theme .owl-controls {
    position: absolute;
    right: 10px;
    top: -80px;
}
.owl-theme .owl-controls .owl-buttons div {
    background: #FFF none repeat scroll 0 0;
    font-size: 24px;
    height: 35px;
    margin-left: 1px;
    opacity: 1;
    width: 35px;
    border-radius: 0px;
    color: #dc1b3a;
    padding: 0px 15px;
}
.product-item {
    text-align: center;
    margin: 0 15px;
    position: relative;
}
.produc-item-img {
    position: relative;
}
.produc-item-img img {
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}
.category-item {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 15px;
    float: left;
}
a.cat-title {
    position: absolute;
    top: 40px;
    margin: auto;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    left: 0;
    right: 0;
    padding: 25px 35px 0;
}
.category-item-img {
    position: relative;
}
.category-item-img img {
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}
.category-item-img:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.product-item .cat-title {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #000;
    color: #fff;
    padding: 0px 5px;
    text-transform: uppercase;
    font-size: 14px;
}
.produc-item-dec {
    background-color: #fff;
    padding: 15px;
    position: relative;
}
.product-title {
    color: #356272;
    font-size: 18px;
    font-weight: 700;
}
.product-shortdec {
    margin: 15px 0;
    color: #000;
    font-weight: 700;
}
.starrr {
    display: inline-block;
}
.starrr span {
    color: #22b34c;
    font-size: 16px;
}
.reviws>span{
    margin-left: 10px;
    line-height: 18px;
    font-size: 14px;
    text-transform: uppercase;
    color: #8e725e;
    display: inline-block;
    font-weight: 600;
}
.category-area .owl-carousel {
    margin-top: 5px;
}
.category-area .owl-theme .owl-controls {
    position: absolute;
    right: 10px;
    top: -50px;
}
.category-area .owl-theme .owl-controls .owl-buttons div {
    background: #bdbdbd none repeat scroll 0 0;
    color: #555555;
}
.category-area .owl-theme .owl-controls .owl-buttons div:hover {
    background: #dc1d3c none repeat scroll 0 0;
    color: #fff;
}
/* Footer */
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}
.copy-right {
    float: left;
    width: 100%;
}
.copy-right p {
    color: #fff;
    margin: 0;
    padding: 15px 0;
}
footer {
    float: left;
    padding: 55px 0;
    width: 100%;
}
.social {
    margin: 0;
    padding: 0;
}
.facebook {
    background: url("../img/f.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.facebook:hover {
    background: url("../img/f-r.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.twitter {
    background: url("../img/t.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.twitter:hover {
    background: url("../img/t-r.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.instagram {
    background: url("../img/ins.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.instagram:hover {
    background: url("../img/ins-r.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.social li {
    display: inline-block;
    margin: 0 5px;
}
.social li a {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border: solid 1px #000;
    border-radius: 50%;
    padding: 20px;
}
.social li a:hover {
    border-color: #dc1b3a;
}
footer a, footer p {
    color: #000;
    font-weight: 600;
    line-height: 24px;
}




@media  (max-width:765px) {
    a.view-more {
        width: 260px;
    }
    .nav>li {
        width: 100%;
        float: left;
    }
    .dropdown-menu {
        -moz-columns: 1;
        columns: 1;
        position: relative;
        width: 100%;
    }
}
@media  (min-width:768px) {
    .navbar-header {
        display: none;
    }
}
